In [ ]:
string1="learn"
string2="python"
farhan=string1 + " " + string2
print(farhan)

a="farhan"
b="ahmed"
print(a+ " " +b)

learn python
farhan ahmed

In [ ]:
list1=['physics', 'chemistry', 1997, 2000];
list2=[1, 2, 3, 4, 5];
list3="a", "b", "c", "d"

print (list1.index('chemistry'))
print (list2.index(4))
print (list3.index("c"))
print (list1[2])
print (list2[-1])
print (list3[0:4])
print (list1[::-1])
print (list1[0:2:])
print (list1[1::-1])

1
3
2
1997
5
('a', 'b', 'c', 'd')
[2000, 1997, 'chemistry', 'physics']
['physics', 'chemistry']
['chemistry', 'physics']

In [ ]:
matrix = [[1, 2, 3],
          [4, 5, 6],         #extract the first two rows
          [7, 8, 9],
          [10, 11, 12]]
print(matrix[0:2])          #extract only the second column from all rows

print(matrix[0][1], matrix[1][1], matrix[2][1], matrix[3][1])
                           #extract only the third column from all rows
print(matrix[0][2], matrix[1][2], matrix[2][2], matrix[3][2])
                            #extract only cross value lift to right
print(matrix[0][0], matrix[1][1], matrix[2][2], matrix[3][2])

[[1, 2, 3], [4, 5, 6]]
2 5 8 11
3 6 9 12
1 5 9 12

In [ ]:
temperatures = [32, 35, 30, 28, 40, 45, 38, 36, 33]           #Extract tem from index 2 to 6
print(temperatures[2:7])                                             #Extract tem from index 4 to the end
print(temperatures[4:])                                              #Extract tem from index 0 to 3
print(temperatures[:4])

[30, 28, 40, 45, 38]
[40, 45, 38, 36, 33]
[32, 35, 30, 28]

In [ ]:
colors = ['red', 'blue', 'green', 'yellow', 'purple', 'orange', 'pink']    #Extract every second color
print(colors[::2])                                                                #Extract every third color
print(colors[::3])

['red', 'green', 'purple', 'pink']
['red', 'yellow', 'pink']

In [ ]:
number = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]               #Extract element at odd indices
print(number[0::2])                                                    #Extract element at even indices
print(number[1::2])                                                     #Extract every third element starting from index2
print(number[0::2])

[5, 15, 25, 35, 45]
[10, 20, 30, 40, 50]
[5, 15, 25, 35, 45]